<div ng-controller="getCoupCtrl as main1">
    <h1 class="font page-header">Get Coupon</h1>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="inputCouponId" class="font col-sm-10 ">Coupon ID</label>
            <div class="col-sm-6">
                <input type="text" ng-model="main1.coupId" class="form-control" placeholder="please type numbers...">
            </div>
        </div>
        <br>
        <div class="form-group">
            <div class="col-sm-10">
                <button ng-click="main1.getCoupById()" class="btn btn-default">Get Company</button>
                <br>
            </div>
        </div>
    </form>
    <h3 class="font sub-header">Coupon Details</h3>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th class="font">Amount</th>
                <th class="font">EndDate</th>
                <th class="font">ID</th>
                <th class="font">Image</th>
                <th class="font">Message</th>
                <th class="font">Price</th>
                <th class="font">StartDate</th>
                <th class="font">Title</th>
                <th class="font">Type</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="font">{{main1.coupObj.amount}}</td>
                <td class="font">{{main1.coupObj.endDate}}</td>
                <td class="font">{{main1.coupObj.id}}</td>
                <td class="font">{{main1.coupObj.image}}</td>
                <td class="font">{{main1.coupObj.message}}</td>
                <td class="font">{{main1.coupObj.price}}</td>
                <td class="font">{{main1.coupObj.startDate}}</td>
                <td class="font">{{main1.coupObj.title}}</td>
                <td class="font">{{main1.coupObj.type}}</td>
            </tr>
        </tbody>
    </table>

</div>